body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h2,h3,h4,h5,h6 {
    color: #2E2F42;

}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1410px;
    padding: 0 15px;
    margin: 0 auto;
    
}

/* header */

.page-header{
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-header{
    display: flex;
    align-items: center;
}

.navigation-list{
    display: flex;
    gap: 40px;
}

.adress-list-header{
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4D5AE5;
}

.fragment-logo {
    color: #2E2F42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contact-adress {
    font-style: normal;
}

.contact-adress .contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-adress .contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* header */

/* hero page */

.hero-section {
    background-color: #2E2F42;
}

.hero-container{
    height: 600px;
    display: column;
    align-content: center;
    text-align: center;
    
}

.hero-section .hero-title{
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-section-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-transform: capitalize;
    background: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-section-button:hover,
.hero-section-button:focus {
    background-color: #404BBF;
}

/* hero page */

/* privilages */

.section-privileges {
    padding: 120px 0;
}
.privileges-container {
    display: flex;
}
.section-privileges-title {
    display: none;
}
.privileges-list {
    display: flex;
    gap: 24px;
}
.privileges-item {
    border: 1px solid #000;
}
.privileges-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}
.privileges-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* privilages */

/* ourTeam */

.section-ourteam {
    background: #F4F4FD ;
    padding-top: 120px;
}
.ourteam-container {
    display: column;

}
.ourteam-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.ourteam-list {
    display: flex;
    justify-content: space-between;
}
.ourteam-list-element {
    text-align: center;
    border: 1px solid #000;
    border-radius: 0 0 4px 4px;
    background: #ffffff;
}
.title-list-ourteam {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    margin-top: 32px;
    margin-bottom: 8px;
}
.text-list-ourteam {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}

.section-ourteam {
    background: #F4F4FD ;
}

/* ourTeam */


/* ourportfolio */
.section-ourportfolio {
    padding: 120px 0;
}
.ourportfolio-container {
    display: column;
}
.ourportfolio-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
.ourportfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 24px;
}
.ourportfolio-item {
    /* width: 360px; */
border: 1px solid #E7E9FC;}
.ourportfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 8px;
    padding-left: 16px;
}
.ourportfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-left: 16px;
}
/* oruportfolio */

.classfooter {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container{
    display: block;
}

.fragment-logo-footer {
    color: #F4F4FD ;
}

.text-footer {    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
