body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h2,h3,h4,h5,h6 {
    color: #2E2F42;
    margin: 0;
}

p{
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0; 
    margin:0;
}

a{
    text-decoration: none;
}   

img{
    display: block;
    max-width: 100%;
}

.container{
    width: 1158px;;
    padding: 0 15px;
    margin: 0 auto;
}

input {
	font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* header */

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.page-header{
    background: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-header{
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4D5AE5;
    margin-right: 76px;
}
.fragment-logo {
    color: #2E2F42;
}
.navigation-list{
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2E2F42;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item-studio{
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404BBF;
}

.navigation-item-studio::after{
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    content: "";
    background-color: #404BBF;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}


.contact-adress {
    font-style: normal;
}
.adress-list-header{
    display: flex;
    gap: 40px;
}
.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* header */

/* hero page */



.hero-section {
    padding: 188px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/sectionhero/people-office.jpg");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;  
}


.hero-container{
    display: column;
    align-content: center;
    text-align: center;
    
}

.hero-title{
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-section-button {
    display: block;
    min-width: 169px;
    border: none;
    height: 56px;
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: #ffffff;
    text-transform: capitalize;
    background-color: #4D5AE5;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-button:hover,
.hero-section-button:focus {
    background-color: #404BBF;
}

/* hero page */

/* privilages */

.section-privileges {
    padding: 120px 0; 
}
.privileges-container {
    display: flex;
}
.privileges-list {
    display: flex;
    gap: 24px;
}
.privileges-item {
    
    width: calc((100% - 72px) / 4); 
}
.container-svg-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    padding: 24px 0;
    margin-bottom: 8px;
    height: 112px;
}

.privileges-title {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}
.privileges-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

/* privilages */

/* ourTeam */

.section-ourteam {
    background: #F4F4FD ;
    padding: 120px 0;
}
.ourteam-container {
    display: column;

}
.ourteam-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
.ourteam-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.ourteam-list-element {
    border-radius: 0 0 4px 4px;
    text-align: center;
    background: #ffffff;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.item-container{
    text-align: center;
    padding: 32px 0;
}
.title-list-ourteam {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
}
.text-list-ourteam {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.ourteam-socials-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.ourteam-socials-item{
    width: 40px;
    height: 40px;
    position: relative;
}

.ourteam-socials-link{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-svg-icon{
    fill: #f4f4fd;
}

.ourteam-socials-link:hover,
.ourteam-socials-link:focus
{
    background-color: #404BBF;
}

/* ourTeam */


/* ourportfolio */
.section-ourportfolio {
    padding: 120px 0;
}
.ourportfolio-container {
    display: column;
}
.ourportfolio-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
.ourportfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.ourportfolio-item {
    display: block;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-item:hover{
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-ourportfolio-block{
    position: relative;
    overflow: hidden;
}

.container-ourportfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-overlay-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.ourportfolio-item:hover .ourportfolio-overlay-text{
    transform: translateY(0%);
}

.ourportfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.ourportfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-item-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* oruportfolio */

.classfooter {
    background-color: #2E2F42;
    padding: 100px 0;
}

.container-footer{
    display: flex;
    align-items: baseline;
}

.footer-container-logo{
    display: block;
    margin-right: 120px;
}

.fragment-logo-footer {
    color: #F4F4FD ;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4D5AE5;
    margin-bottom: 16px;
    display: inline-block;
}
.text-footer {    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-icons-container {
    display: block;
}
.footer-icons-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-icons{
    display: flex;
    gap: 16px;
}

.footer-social-item{
    width: 40px;
    height: 40px;
    position: relative;
}

.footer-social-link{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.footer-social-link:hover,
.footer-social-link:focus
{
    background-color: #31D0AA;
}

.footer-social-svg{
    fill: #f4f4fd;
}

/* footer subscribe form */
.container-footer-form{
    display: flex;
    flex-direction: column;
    margin-left: 80px;

}

.footer-form{
    display: flex;
    gap: 24px;
}

.footer-form-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-form-label{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-input{
    width: 264px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 0 16px;
}

.footer-button{
    background-color: #4D5AE5;
    min-width: 165px;
    height: 40px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus{
    background-color: #404BBF;
}

.footer-button-svg{
    margin-left: 16px;
    fill: #ffffff;
}


/* popup form */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.popup-close-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-close-button:hover,
.popup-close-button:focus{
    background-color: #404bbf;
    border: none;
}

.popup-close-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-close-button:hover .popup-close-svg,
.popup-close-button:focus .popup-close-svg{
    fill: #ffffff;
}

.popup-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.popup-form-field{
    margin-bottom: 8px;
}

.popup-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.popup-input-container{
    position: relative;
}

.popup-input-svg{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-input:focus{
    border-color: #4d5ae5;
}

.popup-input:focus + .popup-input-svg{
    fill: #4d5ae5;
}

.popup-form-field-comment{
    margin-bottom: 16px;
}

.popup-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-textarea:focus{
    border-color: #4d5ae5;
}

.popup-checkbox-wrapper{
    margin-bottom: 24px;
}

.popup-checkbox-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.popup-checkbox-custom{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.popup-checkbox-input:checked + .popup-checkbox-label .popup-checkbox-custom{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.popup-checkbox-link{
    color: #4d5ae5;
}


.popup-button{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.popup-button:hover,
.popup-button:focus{
    background-color: #404bbf;
}