body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h2,h3,h4,h5,h6 {
    color: #2E2F42;

}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}   

img{
    display: block;
}

.container{
    width: 1158px;;
    padding: 0 15px;
    margin: 0 auto;
    
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* header */

.page-header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-header{
    display: flex;
    align-items: center;
}

.navigation-list{
    display: flex;
    gap: 40px;
}

.navigation-item{
    padding: 24px 0;
}

.adress-list-header{
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4D5AE5;
    margin-right: 76px;
}

.fragment-logo {
    color: #2E2F42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contact-adress {
    font-style: normal;
}

.contact-adress .contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-adress .contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* header */

/* hero page */

.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-container{
    display: column;
    align-content: center;
    text-align: center;
    
}

.hero-title{
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-section-button {
    display: block;
    min-width: 169px;
    border: none;
    height: 56px;
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: #ffffff;
    text-transform: capitalize;
    background: #4D5AE5;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 4px;
}

.hero-section-button:hover,
.hero-section-button:focus {
    background-color: #404BBF;
}

/* hero page */

/* privilages */

.section-privileges {
    padding: 120px 0; 
}
.privileges-container {
    display: flex;
}
.privileges-list {
    display: flex;
    gap: 24px;
}
.privileges-item {
    width: calc((100% - 72px) / 4);
    border: 1px solid #000;
}
.privileges-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}
.privileges-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* privilages */

/* ourTeam */

.section-ourteam {
    background: #F4F4FD ;
    padding: 120px 0;
}
.ourteam-container {
    display: column;

}
.ourteam-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
.ourteam-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.ourteam-list-element {
    text-align: center;
    border: 1px solid #000;
    border-radius: 0 0 4px 4px;
    background: #ffffff;
    width: calc((100% - 72px) / 4);
    margin-bottom: 8px
}

.item-container{
    text-align: center;
    padding: 32px 0;
    margin-bottom: 8px;
}
.title-list-ourteam {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}
.text-list-ourteam {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-ourteam {
    background: #F4F4FD ;
}

/* ourTeam */


/* ourportfolio */
.section-ourportfolio {
    padding: 120px 0;
}
.ourportfolio-container {
    display: column;
}
.ourportfolio-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
.ourportfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.ourportfolio-item {
    width: calc((100% - 48px) / 3);
}
.ourportfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.ourportfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-item-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* oruportfolio */

.classfooter {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container{
    display: block;
}

.fragment-logo-footer {
    color: #F4F4FD ;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4D5AE5;
    margin-bottom: 16px;
    display: inline-block;
}
.text-footer {    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
